.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows:auto 1fr ;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #202934;
  padding: 10px;
}

.header {
  grid-column: 1 / span 2;
  background-color: #24303c;
  height: 7vh;
  padding: 9px;
}
