.container-app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows:auto 1fr ;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: none;
}

.sidebar {
  background-color: #202934;
  padding: 10px;
  width:3vw
}

.header {
  /* grid-column: 1 / span 2; */
  background-color: #24303c;
  height: 9vh;

}

.right-side{
  width: 97vw;
}
