.content {
  display: flex;
}

.side-panel {
  width: 350px;
  background-color: rgba(61, 75, 86, 255);
  /* padding: 10px; */

}

.container-content {
  display: flex;
  height:100vh;
  width: 81vw;
  overflow: hidden;
  flex-direction: column;

}
.upper-row{
  height: 50vh;
  background-color: #2e3a46;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.lower-row {
  background-color: #24303c;
  height: 50%;
  display: flex;
  flex-direction: column;
  width:100%;
}

.lower-row > div {
  flex: 1;
}

.file-table-container {
  display: flex;
  width: 100%;
}

.file-part{
  width: 40%;
}
.table-part {
  width: 60%;
}





