.button-18 {
  align-items: center;
  background-color: #538e9a;
  border: 0;
  width: 4em;
  height:2em;
  padding:3px;
  font-size: 14px;
  border-radius: 70px;
  box-sizing: border-box;
  color: #ffffff;
  /* font-weight: 400; */
  vertical-align: middle;
  margin-right: 5px;
}

.button-18:hover,
.button-18:focus {
  background-color: #538e9a;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
